@import url(https://fonts.googleapis.com/css?family=Kanit);
*{
	color: rgba(255,255,255,1.00);
	font-family: Kanit;
	font-size: 1.02em;
}
body{
	margin: 0;
	padding: 0;
}
.background{
	position: fixed;
	background: rgba(0,0,0,1.00);
	width: 100%;
	height: 100vh;
	z-index: -100;
}
.background-image{
	position: fixed;
	top: 2em;
	z-index: -99;
	width: 100%;
	height: 100vh;
	transform: scale(1.2);
	filter: blur(5px) saturate(170%);
}
.main{
	margin-top: 15em;
}
.container{
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 4em;
}
.content-section{
	margin: 1em;
}
.header-fixed{
	overflow: hidden;
	top: 0;
	text-align: center;
	position: fixed;
	background: rgb(0,0,0,0.8);
	width: 100%;
	padding-top: 3em;
	margin: 0 auto;
}
.logo{
	position: fixed;
	width: 8em;
	height: auto;
	border-radius: 20%;
	top: 10px;
    box-shadow: 10px 10px 10px black; 
	z-index: 100;
	
}
.main-header{
	font-size: 2em;
}
.nav a{
	text-decoration: none;
	padding: .5em;
}
.main-nav{
	text-align: center;
	font-size: 1.1em;
	font-weight: lighter;
	border-bottom: 1px solid rgba(255,255,255,.3);
	margin: 0 auto 2% auto;
}
.main-nav a{
	padding: .3em 2em;
}
.main-nav li{
	display: inline-block;
	padding-bottom: 1.1em;
	padding: 0 5% 2% 5%;

}
.nav a:hover{ 
	background: rgba(255,255,255,.3);
}

